<h1><%= link_to "#{@machine.location}", owner_path(@machine.owner) %> Vending Machine</h1>
<% @machine.snacks.each do |snack| %>
  <div class='snack'>
    <h2><b>Name:</b> <%= link_to "#{snack.name}", snack_path(snack) %></h2>
    <h3><b>Price:</b> <%= number_to_currency(snack.price) %></h3>
  </div>
<% end %>
<h2><b>Average price:</b> <%= number_to_currency(@machine.average_price) %></h2>
